<header>
  <nav>
     <%= link_to "My Profile", user_path(@user) %>
  </nav>
</header>

<h1>Hi <%= @user.username %>, here are all the posts from the Michelin Meals Community! </h1>

<ul>
  <% @posts.all.each do |p| %>
  <li>
    <%= link_to p.title, post_path(p) %>
  </li>
  <% end %>
</ul>

<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <!-- <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>

      </div>
    </div> -->

    <div class="ui text container">
      <h1 class="ui inverted header">
        Michelin Meals
      </h1>
      <h2>Eat what you love.</h2>
      <h3 color="white"><%= link_to "My Profile", user_path(@user) %></h3>
    </div>

  </div>



  <iframe width="560" height="315" src="https://www.youtube.com/embed/0SPwwpruGIA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
